:root {
    --cor-principal: #1976D2;
    --cor-fundo:    #f0f0f0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--cor-fundo);
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background: var(--cor-principal);
    width: 400px;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    width: 100%;
    font: bold 2rem Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.input {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

.input input {
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: 0;
    font: bold 1.2rem Arial, sans-serif;
    text-align: center;
}

.input label {
    font: bold 1.2rem Arial, sans-serif;
    color: #ffffff;
}

button {
    width: 100%;
    height: 40px;
    font: bold 1.2rem Arial, sans-serif;
    background: #b31111;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #d32f2f;
}

.result {
    width: 100%;
    border-radius: 5px;
    font: italic 1.2rem Arial, sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background: #424242;
    color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
    margin-top: 20px;
}
